html,body{
    margin:0;
    font-family:Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

body{
    background:gray;
}

header{
    background:rgba(17,17,17,0.9);
    height:60px;
    position:sticky;
    top:0;
    z-index:10000;
}

header #header-name{
    color:white;
    float:left;
    font-size:20px;
    line-height:60px;
    padding:0 16px;
}

header #header-wallet{
    float:right;
    line-height:60px;
    padding:0 16px;
}

header #header-settings{
    float:right;
    line-height:60px;
    padding:0 16px;
}

main{
    margin:16px;
}

.claim-preview-section{
    text-align:center;
}

.claimPreviewTile{
    color:black;
    display:inline-block;
    margin:10px;
    text-decoration:none;
    vertical-align:top;
    width:300px;
}

.claimPreviewTileThumbnail{
    background-color:black;
    background-position:center;
    background-repeat:no-repeat;
    background-size:100%;
    border-radius:10px;
    height:168px;
    transition: background-size 100ms linear;
}

.claimPreviewTileThumbnail:hover{
    background-size:120%;
}

.claimPreviewTileTitle{
    margin:10px 0;
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.markdown img{
    max-height:125px;
    max-width:100%;
}

iframe{
    max-width:100%;
}

audio{
    max-width:100%;
}

video{
    max-width:100%;
}

footer{
    background:rgba(17,17,17,0.9);
    color:white;
    padding:8px;
    text-align:center;
}
