html,body{
    margin:0;
    font-family:Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

body{
    background:rgb(31, 31, 34);
    color:white;
}

header{
    backdrop-filter: blur(4px);
    background:rgba(17,17,17,0.9);
    height:60px;
    position:sticky;
    top:0;
    z-index:10000;

    -webkit-backdrop-filter: blur(4px);
}

.hoverHeaderButton{
    color:white;
}

.hoverHeaderButtonFill{
    fill:white;
    stroke:white;
}

.hoverHeaderButton:hover{
    color:rgb(43, 187, 144);
}

.hoverHeaderButtonFill:not([disabled]):hover{
    fill:rgb(43, 187, 144);
    stroke:rgb(43, 187, 144);
}

.hoverHeaderButtonFill[disabled]{
    cursor:default;
    opacity: .3;
}

main{
    margin:16px;
}

.claim-preview-section{
    text-align:center;
}

.claimPreviewTile{
    color:inherit;
    display:inline-block;
    margin:10px;
    text-decoration:none;
    vertical-align:top;
    width:300px;
}

.claimPreviewTileThumbnail{
    background-color:black;
    background-position:center;
    background-repeat:no-repeat;
    background-size:100%;
    border-radius:10px;
    height:168px;
    transition: background-size 100ms linear;
}

.claimPreviewTileThumbnail:hover{
    background-size:120%;
}

.claimPreviewTileTitle{
    margin:10px 0;
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.markdown img{
    max-height:125px;
    max-width:100%;
}

iframe{
    max-width:100%;
}

audio{
    max-width:100%;
}

video{
    max-width:100%;
}

footer{
    background:rgba(17,17,17,0.9);
    color:white;
    padding:8px;
    text-align:center;
}
